.navbar {
    height: 85px;
    box-shadow: 0 0 7px $color5 !important;
    z-index: 99;

    a {
        transition: color 0.3s ease;
        text-decoration: none;
        color: $color3;
        padding: 6px;

        &:hover {
            color: $color5;
        }
    }

    .navbar-brand img {
        height: 60px;
    }

    .nav-link {
        color: $color3 !important;
    }
}
